<!-- <div class="actions">
<%= f.submit %>
</div>
<% end %> -->

<%= form_for @reservation do |f| %>
	<div class="field">
		<%= f.label :dinner_time %>
		<%= f.datetime_select :dinner_time %>
	</div>
	<div class="field">
		<%= f.label :party_size %>
		<%= f.options_for_select(2..20) :party_size %>
	</div>
	<div class="field">
		<%= f.label :user_id %>
		<%= f.number_field :user_id %>
	</div>
	<div class="field" %>
		<%= f.label :restaurant_id %>
		<%= f.number_field :restaurant_id %>
	</div>
	<div class="field" %>
		<%= f.label :created_at %>
		<%= f.tex_field :created_at %>
	</div>
	<div class="field" %>
		<%= f.label :updated_at %>
		<%= f.tex_field :updated_at %>
	</div>
		<%= f.submit %>
<% end %>