<!-- <!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgray}
h2 {color:red}
title {font-size:32px; color:red;}
</style>
	<title>Reservation Times</title>
</head>
		<h2 align="center">Reservation Date</h2>
<body>
<!-<%= form_for(@reservations) do |f| %> -->
	<!-- <form name="reservations-form-date" action="#" method="POST">
		<div align="center">
			<select name="reservations-date-dropdown">
				<option value="1">1</option>
				<option value="2">1</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
		</div>
	</form>
</body>
<h2 align="center">Reservation Month</h2>
<body>
	<form name="reservations-form-month" action="#" method="POST">
		<div align="center">
			<select name="reservations-month-dropdown">
				<option value="January">January</option>
				<option value="February">February</option>
				<option value="March">March</option>
				<option value="April">April</option>
				<option value="May">May</option>
				<option value="June">June</option>
				<option value="July">July</option>
				<option value="August">August</option>
				<option value="September">September</option>
				<option value="October">October</option>
				<option value="November">November</option>
				<option value="December">December</option>
			</select>
		</div>
	</form>
</body>
<h2 align="center">Reservation Time</h2>
<body>
	<form name="reservations-form-time" action="#" method="POST">
		<div align="center">
			<select name="reservations-time-dropdown">
				<option value="11">11:00&nbsp;am</option>
				<option value="12">12:00&nbsp;am</option>
				<option value="1">1:00&nbsp;pm</option>
				<option value="2">2:00&nbsp;pm</option>
				<option value="3">3:00&nbsp;pm</option>
				<option value="4">4:00&nbsp;pm</option>
				<option value="5">5:00pm&nbsp;</option>
				<option value="6">6:00pm&nbsp;</option>
				<option value="7">7:00pm&nbsp;</option>
				<option value="8">8:00pm&nbsp;</option>
			</select>
		</div>
	</form>
</body>
<h2 align="center">Party Size</h2>
<body>
	<form name="reservations-form-party-size" action="#" method="POST">
		<div align="center">
			<select name="reservations-party-size-dropdown">
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
			</select>
		</div>
	</form>
</body>
</html> -->

<div class="actions">
<%= f.submit %>
</div>
<% end %>

<%= form_for @reservation do |f| %>
	<div class="field">
		<%= f.label :dinner_time %>
		<%= f.datetime_select :dinner_time %>
	</div>
	<div class="field">
		<%= f.label :party_size %>
		<%= f.options_for_select(2..20) :party_size %>
	</div>
	<div class="field">
		<%= f.label :user_id %>
		<%= f.number_field :user_id %>
	</div>
	<div class="field" %>
		<%= f.label :restaurant_id %>
		<%= f.number_field :restaurant_id %>
	</div>
	<div class="field" %>
		<%= f.label :created_at %>
		<%= f.tex_field :created_at %>
	</div>
	<div class="field" %>
		<%= f.label :updated_at %>
		<%= f.tex_field :updated_at %>
	</div>
<% end %>